@media (max-width: 1019px)  {

    .header__bottom-content {
        padding-top: 0;
    }
    
    .burger-content {
        position: relative;
        display: block;
    }

    .header__top-menu {
        display: none;
    }

    .burger-mob {
        position: relative;
        background-image: url("../img/burger.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        transition: all .3s;

        &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -2px;
            width: 18px;
            height: 3px;
            background-color: #fff;
            transform: rotate(0deg);
            border-radius: 50px;
            opacity: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 6px;
            left: -2px;
            width: 18px;
            height: 3px;
            background-color: #fff;
            transform: rotate(0deg);
            border-radius: 50px;
            opacity: 0;
        }

        &.active {
            background-image: none;
            transition: all .3s;

            &::before {
                transform: rotate(45deg);
                opacity: 1;
                transition: all .3s;
            }

            &::after {
                transform: rotate(-45deg);
                opacity: 1;
                transition: all .3s;
            }
        }
    }

    .header__logo {
        display: none;
    }

    .header__top {
        position: relative;
        z-index: 11;
    }

    .header__menu {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%, -100%);
        background-color: #fff;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 16px;
        padding-bottom: 16px;
        z-index: 10;
        transition: ease 0.5s;
    }

    .header__menu.active {
        transform: translate(0%, 48px);
    }

    .header__menu-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__menu-link {
        font-family: 'Navigo', sans-serif;
        font-size: 16px;
        line-height: 21px;
        text-shadow: 0px 0px 20px #FFFFFF;
        font-weight: 400;
    }

    .header__menu-item {
        margin-bottom: 12px;
        margin-right: 0;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .header__menu-dropdown {
        display: none;
        position: static;
        min-width: 0;
        width: 100%;
        box-shadow: none;
        transition: none;
        pointer-events: all;
        opacity: 1;
        padding: 0;
        border-radius: 0;
        text-align: left;

        li {
            padding-bottom: 13px;
        }

        li:first-child {
            margin-top: 27px;
        }
    }

    .header__menu-link.chevron::before {
        display: none;
    }

    .header__menu-link.chevron {
        padding-right: 25px;
    }

    .header__menu-link.chevron.is-open::before {
        transform: rotate(0);
        display: none;
    }

    .header__menu-link.chevron::after {
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        width: 13px;
        height: 8px;
        background-image: url("../img/menu-chevron.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: rotate(180deg);
        transition: all .3s;
    }

    .header__menu-link.chevron.is-open::after {
        transform: rotate(0);
    }
    
    .header__mobile-info {
        display: block;
        padding-top: 28px;
        padding-bottom: 20px;
    }

    .header__mobile-tel {
        position: relative;
        display: inline-block;
        font-size: 14px;
        color: #000;
        padding-left: 20px;
        margin-bottom: 6px;

        &::before {
            content: "";
            position: absolute;
            top: -1px;
            left: 0;
            background-image: url("../img/footer-tel.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 16px;
            height: 16px;
        }
    }

    .header__mobile-text {
        display: block;
        font-size: 12px;
        color: #000;
        opacity: 0.75;
    }

    .header__mobile-question {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 24px;
    }

    .header__mobile-question-title {
        font-size: 14px;
        font-weight: 700;
        color: #000;
        padding-bottom: 8px;
    }

    .header__mobile-email {
        display: inline-block;
        font-size: 14px;
        color: #000;
        margin-bottom: 8px;
    }

    .header__menu-link:hover {
        color: #091540;
    }

    .header__btn-mobile {
        display: block;
        text-align: center;
    }

    .header__top-info {
        display: none;
    }

    .header__logo-mobile {
        display: block;
        max-width: 50px;
        margin-right: -200px;
    }

    .services__item-title {
        font-size: 20px;
        line-height: 25px;
    }

    .intro__title {
        font-size: 30px;
        line-height: 35px;
    }

    .intro .form-main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services__item {
        padding: 16px;
    }

    .services__item-price {
        font-size: 16px;
    }

    .form-main__btn {
        font-size: 12px;
    }

    .services__item-img {
        max-width: 120px;
    }

    .services__item-wrap:first-child .services__item-img {
        max-width: 71px;
    }

    .services__item-wrap:nth-child(2) .services__item-text p {
        max-width: 237px;
    }

    .services__item-wrap:first-child .services__item-img::before {
        width: 86px;
        height: 78px;
        left: -30px;
        top: -56px;
    }

    .services__item-wrap:nth-child(2) .services__item {
        min-height: 200px;
    }

    .services__item-wrap:first-child .services__item {
        min-height: 200px;
    }

    .services__benefits-item-wrap {
        flex: 0 0 33.333%;
        max-width: 33.333%;
        margin-bottom: 30px;
    }

    .quality__item-wrap {
        padding-left: 5px;
        padding-right: 5px;
    }

    .quality__list {
        margin-left: -5px;
        margin-right: -5px;
        max-width: 748px;
        margin: 0 auto;
    }

    .quality__item-texts {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 120px;
    }

    .quality__item-img {
        top: -25px;
    }

    .quality__item-wrap:nth-child(2) .quality__item-img {
        top: -36px;
    }

    .quality__item-wrap:nth-child(3) .quality__item-img {
        top: -29px;
    }

    .services {
        padding-bottom: 50px;
    }

    .quality {
        padding-bottom: 50px;
    }

    .question {
        padding-bottom: 50px;
    }

    .review {
        padding-bottom: 50px;
    }

    .news__item-wrap {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 24px;
    }

    .question__start__img {
        display: none;
    }

    .footer__pays {
        display: none;
    }

    .footer__about {
        max-width: none;
    }

    .footer__subscribe {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__top-content {
        flex-direction: column;
    }

    .footer__subscribe {
        max-width: 440px;
        margin: 0 auto;
    }

    .footer__menu {
        padding-bottom: 30px;
    }

    .footer__menu {
        max-width: none;
    }

    .intro__about-img {
        max-width: 295px;
    }

    .services__item-wrap {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
    }

    .services__list {
        margin-left: -5px;
        margin-right: -5px;
    }

    .services__benefits-title br {
        display: none;
    }

    .title-main {
        font-size: 30px;
        line-height: 35px;
    }

    .review__content {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .news__list {
        padding-bottom: 20px;
    }

    .partners__content {
        flex-direction: column;
        align-items: center;
    }

    .partners__title {
        padding-bottom: 20px;
    }

    .partners__slider {
        max-width: none;
    }

    .partners__slider-item {
        margin-right: 0;
    }

    .partners__slide-wrap {
        width: 20%;
    }

    .partners__slider-item img {
        margin: 0 auto;
        max-width: 70%;
    }

    .partners {
        padding-bottom: 35px;
    }

    .partners__title {
        margin-top: 0;
    }

    .servers__item-wrap {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .servers-single__content {
        flex-direction: column;
        align-items: center;
    }

    .servers-single__img {
        margin: 0;
        margin-bottom: 25px;
    }

    .servers-single__info .title-main {
        text-align: center;
    }

    .servers-single__info-btns {
        justify-content: center;
    }

    .servers-single__services-list {
        margin: 0 auto;
        margin-bottom: 24px; 
    }

    .rate__item-wrap {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-left: 4px;
        padding-right: 4px;
    }

    .rate__list {
        margin-left: -4px;
        margin-right: -4px;
    }

    .servers-single__opportunities {
        margin-top: 14px;
        margin-bottom: 44px;
    }

    .servers-single__opportunities-text {
        max-width: 170px;
    }

    .servers-single__opportunities-row:first-child .servers-single__opportunities-text {
        max-width: 170px;
    }

    .servers-single__benefits-main-wrap {
        padding-left: 4px;
        padding-right: 4px;
    }

    .servers-single__benefits-main-list {
        margin-left: -4px;
        margin-right: -4px;
    }

    .servers-single__benefits-main-item {
        padding: 16px;
    }

    .servers-single__benefits-main {
        padding-bottom: 20px;
    }

    .servers-single__configuration-content {
        margin-bottom: 36px;
    }

    .servers-single {
        padding-bottom: 26px;
    }

    .cms-service__content {
        flex-direction: column;
        align-items: center;
    }

    .cms-service__list {
        max-width: none;
        margin-right: 0;
        padding-bottom: 30px;
    }

    .cms-service__info-text {
        max-width: none;
    }

    .cms-service__content {
        padding-bottom: 16px;
    }

    .cms-service {
        padding-bottom: 0px;
    }

    .service-main__list {
        margin-left: -4px;
        margin-right: -4px;
    }

    .service-main__item-wrap {
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 8px;
    }

    .service-main__item-header {
        padding-bottom: 30px;
    }

    .service-main__item {
        padding: 16px;
    }

    .service-main__item-img {
        min-width: 48px;
        max-width: 48px;
        margin-right: 16px;
    }

    .service-main__item-title {
        font-size: 20px;
        line-height: 23px;
    }

    .service-single .title-main {
        padding-bottom: 16px;
    }

    .service-single .servers-single__services-list {
        margin-bottom: 24px;
    }

    .service-single__row:first-child {
        display: none;
    }

    .service-single__row-header {
        flex-direction: column;
    }

    .service-single__text {
        max-width: none !important;
        margin-right: 0 !important;
    }

    .service-single__text-validate-type {
        display: flex;
        align-items: center;
        max-width: none;
        margin-right: 0;
        padding-bottom: 5px;
    }

    .service-single__text-time {
        display: flex;
        align-items: center;
        max-width: none;
        margin-right: 0;
        padding-bottom: 13px;
    }

    .service-single__text-defense {
        display: flex;
        align-items: center;
        max-width: none;
        margin-right: 0;
        padding-bottom: 5px;
    }

    .service-single__text-price-desktop {
        display: none;
    }

    .service-single__text-mob {
        display: block;
        margin-right: 20px;
    }

    .service-single__price-mob {
        display: block;
    }

    .service-single__row-chooose-price {
        width: 100%;
        padding-top: 21px;
    }

    .service-single__more-btn {
        margin-right: 0;
    }

    .service-single__text:first-child {
        padding-bottom: 0px;
        font-weight: 700;
        color: #7692FF;
        display: inline;
        width: auto;
        margin-bottom: 5px;
        border-bottom: 1px solid transparent;
    }

    .service-single__text.active {
        border-bottom: 1px solid #7692FF;
    }

    .service-single__row-header {
        align-items: flex-start;
    }

    .service-single__more-btn {
        margin: 0 auto;
    }

    .service-single__choose {
        display: none;
    }

    .service-single__row-chooose-price {
        display: flex;

        .service-single__choose {
            display: block;
        }
    }

    .service-single__tab {
        padding-bottom: 10px;
        padding-top: 17px;
    }

    .service-single__row {
        padding-bottom: 13px;
    }

    .service-single__more-btn:hover {
        opacity: 1;
    }

    .data-center__item {
        padding: 16px;
    }

    .data-center__item-wrap {
        padding-left: 4px;
        padding-right: 4px;
    }

    .data-center__list {
        margin-left: -4px;
        margin-right: -4px;
    }

    .data-center__item-img {
        margin-right: 12px;
    }

    .gallery__item-wrap {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 8px;
    }

    .gallery__list {
        margin-left: -4px;
        margin-right: -4px;
    }

    .gallery__item-description {
        opacity: 1;
    }

    .data-center {
        padding-bottom: 16px;
    }

    .data-center__list {
        padding-bottom: 40px;
    }

    .data-center__main-img {
        max-width: 600px;
    }

    .contacts__content {
        flex-direction: column;
        align-items: center;
    }

    .contacts__info {
        margin-right: 0;
        max-width: 600px;
        margin-bottom: 24px;
    }

    .contacts__map-content {
        max-width: 600px;
    }

    .contacts__main-img {
        margin-bottom: 35px;
    }

    .contacts__ways-item {
        width: calc(50% - 4px);
        margin-right: 8px;
        padding: 16px;
    }

    .contacts__content {
        padding-bottom: 22px;
    }

    .contacts__ways__list {
        padding-top: 14px;
    }

    .contacts {
        padding-bottom: 14px;
    }

    .contacts__info {
        padding: 16px;
    }

    .terms__description {
        padding: 16px;
    }

    .terms {
        padding-bottom: 20px;
    }
}

@media (max-width: 758px) {
    
    .services__benefits-item-wrap {
        flex: 0 0 auto;
        max-width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .services__benefits-list {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .services__mobile-title {
        display: block;
        font-family: 'Navigo', sans-serif;
        font-size: 20px;
        line-height: 25px;
        color: #091540;
        opacity: 1;
        font-weight: 500;
        padding-bottom: 16px;
    }

    .services__benefits {
        padding: 16px;
        padding-top: 20px;
    }

    .services__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .services__item-wrap:first-child {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .services__item-wrap:nth-child(2) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .services__item-wrap .services__item {
        min-height: 0;
    }

    .services__item-wrap:nth-child(2) .services__item {
        min-height: 0;
    }

    .services__item-wrap:first-child .services__item {
        min-height: 0;
    }

    .services__item-img {
        display: none;
    }

    .services__item {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }

    .services__item__title-text {
        padding-bottom: 16px;
    }

    .services__item-wrap:nth-child(2) .services__item-text p {
        max-width: none;
    }

    .services__item-wrap:first-child .services__item-text p {
        max-width: none;
    }

    .intro__content {
        flex-direction: column;
    }

    .intro__about {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .intro__title {
        order: 1;
    }

    .intro__about-img {
        order: 2;
    }

    .intro__about p {
        order: 3;
    }

    .intro .form-main {
        display: none;
    }

    .intro__btn-consult {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 16px;

        .form-main__btn {
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
        }
    }

    .form-main__btn {
        font-size: 11px;
    }

    .intro {
        padding-bottom: 24px;
    }

    .services__item-price{

        &::before {
            content: "";
            position: absolute;
            background-image: url("../img/sl-next.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 31px;
            height: 24px;
            right: 0;
            top: -3px;
        }
    }

    .quality__item {
        max-width: 254px;
        margin: 0 auto;
    }

    .quality__item-wrap {
        padding-top: 40px;
    }

    .quality .container {
        padding-left: 0;
        padding-right: 0;
    }

    .quality .title-main {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .services {
        padding-bottom: 32px;
    }

    .review .container::before {
        display: none;
    }

    .review .container::after {
        display: none;
    }

    .review__slider-btn {
        display: none;
    }

    .review__item {
        padding-bottom: 13px;
    }

    .review-slider {
        padding-bottom: 17px;
    }

    .review__item-btn {
        max-width: 32px;
    }

    .review .title-main {
        padding-bottom: 20px;
    }

    .quality {
        padding-bottom: 40px;
    }

    .review {
        padding-bottom: 32px;
    }

    .question {
        padding-top: 0;
    }

    .question__start {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 40px;
        padding-top: 20px;
    }

    .question__start-content {
        max-width: none;
    }

    .question__start-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question__content {
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0px 0px 50px #4EADFF26;
        padding-bottom: 16px;
    }

    .question .title-main {
        padding-bottom: 20px;
    }

    .question__specialist {
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 16px;
        border-radius: 0;
        box-shadow: none;
        padding-bottom: 16px;
    }

    .partners__slider {
        display: block;
    }

    .partners__slider-item {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .news {
        padding-bottom: 40px;
    }

    .partners__slider-item img {
        max-width: 140px;
        max-height: 80px;
        width: 100%;
    }

    .slider-two-img .slick-track {
        align-items: center;
    }

    .partners__slide-wrap {
        margin-bottom: 0;
    }

    .partners {
        padding-bottom: 42px;
    }

    .footer__title {
        font-size: 16px;
        padding-bottom: 15px;
    }

    .footer__menu {
        flex-direction: column;
        align-items: center;
    }

    .footer__menu-wrap {
        max-width: 380px;
        margin-bottom: 20px;
    }

    .header__mobile-panel {
        display: flex;
        align-items: center;
    }

    .header__cabinet {
        display: none;
    }

    .header__mobile-call {
        margin-right: 16px;
    }

    .header__top {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header__logo-mobile {
        margin-right: -50px;
    }

    .review__content::before {
        display: none;
    }

    .quality__list .slick-track {
        align-items: stretch;
    }

    .quality__item-wrap {
        height: auto;
    }

    .quality__item-title {
        margin-bottom: 8px;
    }

    .servers__text-title {
        font-size: 18px;
    }

    .servers__text-content {
        padding-bottom: 24px;
        padding-top: 30px;
    }

    .servers {
        padding-bottom: 24px;
    }

    .servers__list {
        margin-left: 0;
        margin-right: 0;
    }

    .servers__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 8px;
        padding-left: 0;
        padding-right: 0;
    }

    .servers__item {
        max-width: 500px;
        margin: 0 auto;
        min-height: 200px;
    }

    .servers-single__img {
        max-width: 200px;
    }

    .servers-single__benefits {
        flex-direction: column;
        align-items: flex-start;
    }

    .servers-single__benefits-item-wrap {
        max-width: 100%;
    }

    .servers-single__benefits-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        max-width: none;
    }

    .servers-single__benefits-img {
        max-width: 21px;
        margin: 0;
        margin-top: 5px;
        margin-right: 21px;

        img {
            width: 21px;
            min-width: 21px;
        }
    }

    .servers-single__img {
        margin-bottom: 15px;
    }

    .rate__item-wrap {
        flex: 0 0 auto;
        max-width: 100%;
    }

    .rate .slick-list {
        padding-left: 15px !important;
        margin-left: -15px;
        margin-right: -15px;
    }

    .rate__item {
        max-width: 240px;
    }

    .rate__list {
        margin: 0;
    }

    .servers-single__opportunities-row:first-child {
        display: none;
    }

    .servers-single__opportunities-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .servers-single__opportunities-text {
        max-width: none !important;
        margin-right: 0;

        &:first-child {
            font-weight: 700;
            color: #7692FF;
            padding-bottom: 3px;
        }

        &:last-child {
            font-weight: 500;
            color: #091540;
            padding-top: 7px;
        }
    }

    .rate__list .slick-track {
        align-items: stretch;
    }

    .rate__item-wrap {
        height: auto;
    }

    .servers-single__benefits-main-list .slick-track {
        align-items: stretch;
    }

    .servers-single__benefits-main-wrap {
        height: auto;
    }

    .servers-single__benefits-main-list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .rate__counter {
        display: block;
    }

    .cms-service__list {
        flex-direction: column;
        align-items: center;
    }

    .cms-service__item {
        width: 100%;
        margin-bottom: 8px;
        margin-right: 0;
        height: auto;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .cms-service {
        padding-bottom: 23px;
    }

    .service-main__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .service-main__list {
        margin-left: 0;
        margin-right: 0;
    }

    .service-main__item-header {
        padding-bottom: 16px;
    }
    
    .gallery__item-wrap {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .data-center__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 16px;

        &:nth-child(2) {
            order: 1;
        }
        
        &:nth-child(1) {
            order: 2;
        }

        &:nth-child(3) {
            order: 3;
        }

    }

    .data-center__list {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 24px;
    }

    .gallery .title-sub {
        padding-bottom: 20px;
    }

    .data-center__item-img {
        margin-right: 16px;
    }

    .data-center {
        padding-bottom: 41px;
    }

    .about-main {
        padding-bottom: 52px;
    }

    .gallery__item-description-wrap {
        bottom: 4px;
    }

    .contacts {
        padding-bottom: 40px;
    }

    .header__mobile-call {
        transition: all .3s;
        pointer-events: all;

        &.hide {
            opacity: 0;
            pointer-events: none;
        }
    }

    .header__mobile-cabinet {
        transition: all .3s;
        pointer-events: all;

        &.hide {
            opacity: 0;
            pointer-events: none;
        }
    }

}

@media (max-width: 580px) {
    
    .intro__title {
        font-size: 20px;
        line-height: 23px;
        color: #091540;
        font-weight: 700;
    }

    .intro__about p {
        font-family: 'Navigo', sans-serif;
        font-weight: 200;
    }

    .services__benefits-item {
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .services__benefits-img {
        margin: 0;
        margin-right: 15px;
    }

    .services__benefits-title {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
        color: #000;
        opacity: 0.75;
    }

    .services__benefits-title br {
        display: block;
    }

    .services__benefits-item-wrap {
        margin-bottom: 10px;
    }

    .services__benefits {
        padding-bottom: 12px;
    }

    .title-main {
        font-size: 24px;
        line-height: 29px;
    }

    .review__slide-name {
        padding-bottom: 3px;
    }

    .review__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .review__item {
        max-width: none;
    }

    .question__start {
        max-width: 288px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .question__start {
        padding-bottom: 180px;
    }

    .question__start::before {
        content: "";
        position: absolute;
        background-image: url("../img/start-mob.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 224px;
        pointer-events: none;
        border-radius: 15px;
    }

    .question__start-content .title-main {
        padding-bottom: 15px;
    }

    .question__start-content .btn-main {
        position: relative;
        z-index: 2;
    }

    .question__specialist-img {
        max-width: 65px;
    }

    .question__specialist-title {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 10px;
    }

    .form-main__field input {
        padding-left: 15px;
        padding-right: 15px;
    }

    .question__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .question {
        padding-bottom: 40px;
    }

    .news__item-wrap {
        flex: 0 0 auto;
        max-width: 100%;
        margin-bottom: 16px;
    }

    .news__item {
        position: relative;
        max-width: 370px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .news .title-main {
        padding-bottom: 18px;
    }

    .news__list {
        display: block;
        padding-bottom: 0;
    }

    .news__item-img {
        height: 144px;
    }

    .slider-news .slick-dots {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 35px;
    }

    .footer__menu-lists {
        display: none;
    }

    .footer__menu-wrap {
        max-width: none;
        margin-bottom: 0;
    }

    .footer__menu-list {
        max-width: none;
        padding-left: 25px;
    }

    .footer {
        padding-top: 24px;
        padding-bottom: 175px;
    }

    .footer__menu-title.chevron {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 13px;
            height: 8px;
            background-image: url('../img/menu-chevron.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .3s;
            transform: rotate(180deg);
            top: 6px;
            right: 0;
        }
    }

    .footer__menu-title.chevron.is-open {
        
        &::before {
            transform: rotate(0);
        }
    }

    .footer__menu-list a {
        font-size: 16px;
    }

    .footer__menu-list li {
        padding-bottom: 13px;
    }

    .footer__partner {
        display: none;
    }

    .footer__about {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 24px;
        padding-bottom: 24px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 10px;
            background-color: #fff;
        }
    }

    .footer__general {
        padding-bottom: 24px;
    }

    .footer__top-content {
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer__subscribe {
        position: absolute;
        bottom: 0;
        left: 50%;
        max-width: none;
        padding-left: 15px;
        padding-right: 15px;
        transform: translate(-50%, 0);
    }

    .footer__bottom-content {
        padding-top: 0;
    }

    .footer__subscribe-wrap {
        margin: 0 auto;
        text-align: center;
    }

    .footer__social-list {
        justify-content: center;
    }

    .footer__menu {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 10px;
            background-color: #fff;
        }
    }

    .footer .container {
        padding: 0;
    }

    .footer__title {
        font-size: 14px;
        font-weight: 700;
    }

    .footer__menu-title {
        font-size: 16px;
        font-weight: 400;
    }

    .quality .title-main {
        padding-bottom: 12px;
    }

    .review__item-about {
        align-items: flex-start;
    }

    .review__item-about {
        padding-bottom: 16px;
    }

    .question__specialist {
        padding-left: 0;
        padding-right: 0;
    }

    .form-main__btn {
        letter-spacing: 0.28px;
    }

    .question .form-main__btn {
        line-height: 15px;
        padding-top: 10px;
        padding-bottom: 8px;
    }

    .form-main__btn br {
        display: block;
    }

    .partners__slider-item img {
        max-width: 125px;
        height: 70px;
    }

    .footer__social-item {
        width: 32px;
        height: 32px;
    }

    .footer__social-list {
        padding-bottom: 16px;
    }

    .news__item-date {
        padding-bottom: 7px;
    }

    .servers.mask::before {
        display: none;
    }

    .breadcrumbs__item {
        margin-bottom: 1px;
    }

    .breadcrumbs__item {
        font-size: 12px;
        line-height: 18px;
        margin-right: 22px;
    }

    .breadcrumbs__item::before {
        // top: 6px;
        right: -16px;
        width: 9px;
        height: 9px;
    }

    .header-inner {
        padding-bottom: 17px;
    }

    .servers__list {
        padding-top: 0;
    }

    .servers__item {
        min-height: 0;
        display: flex;
        align-items: center;
        height: auto;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .servers__item-img {
        max-width: 64px;
        min-width: 64px;
        min-height: 0;
        margin: 0;
        margin-right: 23px;
    }

    .servers__item-img::before {
        width: 64px;
        height: 64px;
        top: -17px;
        left: -12px;
    }

    .servers__item-info {
        text-align: left;
    }

    .servers__sub-title {
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 0;
    }

    .servers__title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }

    .servers__item-flag {
        max-width: 24px;

        img {
            width: 24px;
        }
    }

    .popup-review {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-main__field textarea {
        padding-left: 15px;
        padding-right: 15px;
    }

    .popup-review__title {
        font-size: 20px;
    }

    .popup-review__label {
        max-width: 40px;
    }

    .popup-review__text {
        font-size: 14px;
    }

    .popup-review__radio {
        padding-bottom: 20px;
        padding-top: 0;
    }

    .intro {
        background: transparent;
    }

    .intro::before {
        height: 224px;
        background-size: contain;
        top: 70px;
    }

    .servers-single__img {
        display: none;
    }

    .servers-single__services-list li {
        padding-left: 0;
        padding-bottom: 27px;
        text-align: center;

        &::before {
            top: -23px;
            left: 50%;
            transform: translate(-50%, 0);
            color: #7692FF;
        }

        &:first-child {

            &::before {
                display: none;
            }
        }
    }

    .servers-single__services-list {
        padding: 16px;
        margin-bottom: 30px;
    }

    .rate__title-wrap {
        position: relative;
        background-color: #fff;
        box-shadow: 0px 0px 50px #7692FF33;
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: right;
        padding-right: 32px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 30px;
            background-image: url("../img/title-stars.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 32px;
            height: 32px;
        }
    }

    .rate__title {
        display: block;
        font-size: 16px;
        line-height: 21px;
        max-width: 192px;
        width: 100%;
        margin-left: auto;
        text-align: left;
        
    }

    .rate .title-sub {
        padding-bottom: 24px;
    }

    .servers-single__opportunities-row {
        padding-bottom: 11px;
        padding-top: 16px;
    }

    .servers-single__configuration-content {
        flex-direction: column;
        align-items: center;
        padding: 16px;
    }

    .servers-single__configuration-list {
        max-width: none;
        width: 100%;
        margin-right: 0;

        li {
            max-width: none;
            padding-bottom: 27px;
            text-align: center;
            padding-left: 0;
            text-indent: 0;

            &::before {
                top: -23px;
                left: 50%;
                transform: translate(-50%, 0);
                color: #7692FF;
            }

            &:first-child {

                &::before {
                    display: none;
                }
            }
        }
    }

    .servers-single__configuration::after {
        width: 139px;
        height: 139px;
        top: 350px;

    }

    .breadcrumbs__item {
        margin-bottom: 0;
    }

    .servers-single {
        padding-top: 20px;
    }

    .mask {

        &::before {
            display: none;
        }
    }

    .servers-single__opportunities {
        padding-top: 20px;
    }

    .servers-single__opportunities .title-sub {
        padding-bottom: 7px;
    }

    .servers-single__benefits-main .title-sub {
        padding-bottom: 18px;
    }

    .servers-single__configuration .title-sub {
        padding-bottom: 8px;
    }

    .cms-service__item {
        display: flex;
        align-items: center;
        padding: 21px 22px;
    }

    .cms-service__item-img {
        min-width: 57px;
        max-width: 57px;
        min-height: auto;
        margin: 0;
        margin-right: 25px;
    }

    .cms-service__text-content {
        text-align: left;
    }

    .cms-service__title {
        font-size: 16px;
        line-height: 21px;
    }

    .cms-service__text {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }

    .cms-service__info-text {
        line-height: 21px;
    }

    .breadcrumbs {
        // padding-bottom: 13px;
        padding-bottom: 23px;
    }

    .cms-service {
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #E3F6FF 70%, #FFFFFF 100%);
    }

    .cms-service__content {
        padding-bottom: 13px;
    }

    .cms-service--bigger .cms-service__item-img {
        min-width: 74px;
        max-width: 74px;
        margin-right: 20px;
    }

    .services__benefits-img {
        min-height: 0;
    }

    .service-main__item-title {
        font-size: 18px;
    }

    .service-main__content {
        padding-bottom: 16px;
    }

    .service-main {
        padding-bottom: 24px;
    }

    .service-single__table-content {
        padding-top: 25px;
    }

    .service-single__table-content .title-sub {
        padding-bottom: 9px;
    }

    .service-single__tab {
        flex-direction: column;
    }

    .service-single__tab-features {
        margin-right: 0;
        padding-bottom: 18px;
    }

    .service-single__tab-title {
        padding-bottom: 10px;
    }

    .servers-single {
        background: transparent linear-gradient(180deg, #FFFFFF 10%, #E3F6FF 10%, #FFFFFF 10%);
        padding-top: 0;
    }

    .about-main {
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #E3F6FF 70%, #FFFFFF 100%);
        padding-bottom: 39px;
    }

    .about-main__requisites-title {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .about-main__requisites-copy {
        position: static;
    }

    .about-main__requisites-header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 14px;
    }

    .about-main__requisites-item {
        display: block;
        padding-bottom: 22px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .about-main__requisites-item-title {
        position: relative;
        font-weight: 400;
        margin-right: 5px;
        min-width: 0;
        display: inline;

        &::before {
            content: ":";
            position: absolute;
            top: -2px;
            right: -4px;
        }
    }

    .about-main__requisites-item-text {
        font-weight: 400;
        display: inline;
    }

    .about-main__text {
        padding-bottom: 23px;
    }

    .gallery__item-wrap {
        flex: 0 0 auto;
        max-width: 100%;

    }

    .gallery__item {
        max-width: 236px;
    }

    .data-center__list {
        margin-left: 0;
        margin-right: 0;
    }

    .slider-gallery {
        margin-left: -18px;
        margin-right: -15px;
    }

    .slider-gallery .slick-list {
        padding-left: 15px !important;
    }

    .data-center__main-img {
        margin-left: -15px;
        margin-right: -15px;
    }

    .data-center {
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #E3F6FF 25%, #FFFFFF 100%);
    }

    .data-center .title-main {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    .data-center__item-title {
        display: block;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: -5px;
    }

    .gallery .title-sub {
        font-size: 20px;
        padding-bottom: 17px;
    }

    .contacts__map-content .gallery__item-wrap {
        flex: 0 0 auto;
        max-width: 100%;
    }

    .gallery__item-description {
        opacity: 0;
    }

    .gallery__item-wrap.slick-current .gallery__item-description {
        opacity: 1;
    }

    .contacts {
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #E3F6FF 15%, #FFFFFF 20%);
    }
    
    .contacts__info-img {
        max-width: 24px;
        min-width: 24px;
        margin-right: 8px;
    }

    .contacts__info-item p {
        padding-left: 33px;
    }

    .contacts__info-list li {
        padding-bottom: 20px;
    }

    .contacts__ways__list {
        flex-direction: column;
        align-items: center;
    }

    .contacts__ways-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .contacts__main-img {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .contacts__map {
        height: 288px;
    }

    #map-1 {
        height: 288px;
    }

    .contacts__map {
        margin-bottom: 16px;
    }

    .contacts__info {
        margin-bottom: 16px;
    }

    .contacts__info-btn-more {
        display: block;
        margin: 0 auto;
        margin-top: 18px;

        &.hide {
            display: none;
        }
    }

    .contacts__info--hider {

        p {
            max-height: 60px;
            overflow: hidden;
            transition: all 1s;
        }

        &.active {

            p {
                max-height: 1000px;
            }
        }
    }

    .contacts__info-item {
        padding-bottom: 26px;
    }
    
    .about-main__main-img {
        margin-bottom: 22px;
    }

    .terms__content {
        padding-top: 9px;
    }

    .terms__title {
        padding-bottom: 19px;
    }

    .terms__list li {
        padding-bottom: 19px;
    }

    .terms__description {
        margin-top: 19px;
        margin-bottom: 19px;
    }

    .terms__title {
        font-size: 18px;
        line-height: 23px;
    }

    .terms__content p {
        padding-bottom: 19px;
    }

    .terms {
        padding-bottom: 25px;
    }

}