@media (max-width: 1060px) {

    .partners__slider-item {
        margin-right: 45px;
    }

    .partners__slider {
        max-width: 695px;
    }

    .services__benefits {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__subscribe {
        max-width: 290px;
    }

    .footer__pays {
        max-width: 400px;
    }

    .footer__about {
        max-width: 550px;
    }

    .intro__about {
        margin-right: 20px;
    }

    .service-single__text:first-child {
        max-width: 250px;
    }

    .service-single__row:first-child .service-single__text:first-child {
        max-width: 250px;
    }

    .service-single__row:first-child .service-single__text {
        max-width: 110px;
    }

    .service-single__text-validate-type {
        max-width: 110px;
    }

    .service-single__text-defense {
        max-width: 110px;
    }

    .service-single__text-time {
        max-width: 110px;
    }

    .service-single__text-price-desktop {
        max-width: 110px;
    }

    .rate__title {

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }
}