@import "normalize";
@import "variables";
@import "slick";
@import "fancybox";


@font-face {
    font-family: 'Lato';
    src: url('../fonts/subset-Lato-Light.woff2') format('woff2'),
        url('../fonts/subset-Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/subset-Lato-Regular.woff2') format('woff2'),
        url('../fonts/subset-Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/subset-Lato-Medium.woff2') format('woff2'),
        url('../fonts/subset-Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/subset-Lato-Semibold.woff2') format('woff2'),
        url('../fonts/subset-Lato-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/subset-Lato-Bold.woff2') format('woff2'),
        url('../fonts/subset-Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('../fonts/subset-Navigo-ExtraLight.woff2') format('woff2'),
        url('../fonts/subset-Navigo-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('../fonts/subset-Navigo-Regular.woff2') format('woff2'),
        url('../fonts/subset-Navigo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo-2';
    src: url('../fonts/subset-Navigo-Medium-2.woff2') format('woff2'),
        url('../fonts/subset-Navigo-Medium-2.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('../fonts/subset-Navigo-Medium.woff2') format('woff2'),
        url('../fonts/subset-Navigo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('../fonts/subset-Navigo-Bold.woff2') format('woff2'),
        url('../fonts/subset-Navigo-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}




.overflowHidden {
  overflow: hidden;
} 

body {
  	font-family: 'Lato', sans-serif;
  	font-weight: 400;
  	-webkit-font-smoothing: antialiased;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
 	max-width: 1050px;
  	padding-left: 15px;
  	padding-right: 15px;
  	margin: 0 auto;
}

.header {
	position: relative;
	padding-bottom: 26px;
	z-index: 4;
}

.header__top {
	background-color: #337AB7;
}

.header__top-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__top-menu {
	padding-top: 14px;
	padding-bottom: 14px;
}

.header__top-menu-list {
	display: flex;
	align-items: center;

	li {
		margin-right: 32px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		font-size: 14px;
		color: #fff;
		transition: all .3s;

		&:hover {
			color: #ABD2FA;
		}
	}
}

.header__top-info {
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
}

.header__tel {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	padding-left: 32px;
	margin-right: 16px;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: -5px;
		background-image: url("../img/tel.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 24px;
		height: 24px;
	}
}

.header__tel-note {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	opacity: 0.75;
}

.header__cabinet {
	display: flex;
	align-items: center;
}

.header__cabinet-btn {
	display: block;
	font-size: 14px;
	color: #fff;
	transition: all .3s;
	padding: 15px 20px;

	&:hover {
		background-color: #ABD2FA;
		color: #091540;;
	}
}

.header__bottom-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 6px;
}

.header__logo {
	display: flex;
	align-items: flex-end;
	max-width: 190px;
	width: 100%;
}

.header__logo-link {
	display: block;
	max-width: 63px;
	min-width: 63px;
	height: auto;
	margin-right: 17px;
}

.header__logo-text {
	display: inline-block;
	font-size: 10px;
	line-height: 14px;
	color: #000;
	font-weight: 600;
	margin-bottom: -2px;
}

.header__menu-list {
	display: flex;
	align-items: center;
}

.header__menu-item {
	position: relative;
	margin-right: 26px;

	&:last-child {
		margin-right: 0;
	}

	&.helper::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 34px;
		top: 0;
		right: 0;

	}
}

.header__menu-link {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #091540;
	transition: all .3s;

	&:hover {
		color: #7692FF;

		&.chevron::before {
			content: "";
			position: absolute;
			right: 0;
			top: 5px;
			width: 11px;
			height: 6px;
			background-image: url("../img/menu-chevron-h.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			transform: rotate(0deg);
			transition: all .3s;
		}
	}

	&.chevron {
		padding-right: 15px;

		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: 5px;
			width: 11px;
			height: 6px;
			background-image: url("../img/menu-chevron.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			transform: rotate(180deg);
			transition: all .3s;
		}
	}

	&.active {

		&::before {
			transform: rotate(0deg);
		}
	}
}

.header__menu-dropdown {
	position: absolute;
	top: 24px;
	right: 0;
	min-width: 220px;
	width: 100%;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 50px #4EADFF26;
	text-align: right;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 18px;
	padding-bottom: 18px;
	transition: all .3s;
	opacity: 0;
	pointer-events: none;
	z-index: 3;

	&.show {
		opacity: 1;
		pointer-events: all;
	}

	li {
		padding-bottom: 10px;
		font-size: 14px;
		line-height: 14px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	a {
		display: inline-block;
		font-size: 14px;
		line-height: 14px;
		color: #091540;
		transition: all .3s;

		&:hover {
			color: #7692FF;
		}
	}
}

.intro {
	position: relative;
	background: transparent linear-gradient(180deg, #FFFFFF 0%, #E2F6FF 100%) 0% 0%;
	padding-bottom: 48px;
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		bottom: -150px;
		left: 0;
		background-image: url("../img/intro-mask.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 759px;
		z-index: -1;
	}
}

.intro__content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.intro__about {
	max-width: 585px;
	width: 100%;
	text-align: center;

	p {
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		font-size: 16px;
		line-height: 21px;
		color: #000;
		opacity: 0.75;
		font-weight: 300;
	}
}

.intro__about-img {
	max-width: 324px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
}

.intro__title {
	font-family: 'Navigo', sans-serif;
	font-size: 34px;
	line-height: 39px;
	color: #286EC9;
	font-weight: 500;
	padding-bottom: 16px;
}

.intro .form-main {
	margin-top: 27px;
}

.form-main {
	max-width: 411px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 28px;
	padding-bottom: 26px;
	text-align: center;
	border-radius: 15px;
}

.form-main__title {
	font-family: 'Navigo', sans-serif;
	display: block;
	font-size: 20px;
	line-height: 25px;
	color: #091540;
	font-weight: 700;
	opacity: 0.75;
	padding-bottom: 5px;
}

.form-main__title-text {
	font-size: 16px;
	line-height: 25px;
	color: #091540;
	font-weight: 300;
	padding-bottom: 32px;
}

.form-main__field {
	width: 100%;
	margin-bottom: 16px;

	input {
		width: 100%;
		padding-left: 31px;
		padding-right: 31px;
		height: 48px;
		font-size: 16px;
		color: #000;
		font-weight: 300;
		background-color: #F2F9FF;
		border-radius: 15px;

		&::placeholder {
			opacity: 1;
			color: #000;
		}
	}
}

.form-main__btn {
	font-family: 'Navigo-2', sans-serif;
	display: block;
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-weight: 500;
	color: #fff;
	line-height: 46px;
	padding-top: 2px;
	text-transform: uppercase;
	border-radius: 15px;
	background-color: #458DEA;
	margin-bottom: 19px;
	transition: all .3s;

	&:hover {
		box-shadow: 0px 9px 9px #5AA3FF33;
	}
}

.form-main__note {
	display: block;
	font-size: 14px;
	color: #000;
	opacity: 0.5;
	text-align: left;
	padding-bottom: 24px;
}

.form-main__checkbox {
	position: relative;
	text-align: left;
}

.form-main__label {
	position: relative;
	display: inline-block;
	font-size: 12px;
	line-height: 17px;
 	cursor: pointer;
 	padding-left: 30px;

  	&::before {
    	content: "";
    	position: absolute;
    	width: 24px;
    	height: 24px;
    	background-color: #F2F7FF;
    	border-radius: 50%;
    	top: 0;
    	left: 0;
 	}
}

input[type=checkbox] {
  	display: block;
  	opacity: 0;
  	pointer-events: none;
  	width: 0;
  	height: 0;
}

input[type=radio] {
  	display: block;
  	opacity: 0;
  	pointer-events: none;
  	width: 0;
  	height: 0;
}

.form-main__checkbox input[type=checkbox]:checked ~ .form-main__label::after {
  	content: "";
  	position: absolute;
  	background-image: url("../img/check.svg");
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
  	width: 22px;
  	height: 19px;
  	left: 4px;
  	top: 0px;
}

.services {
	position: relative;
	padding-bottom: 80px;
	z-index: 3;
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}

.services__item-wrap {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 24px;

	&:first-child {
		flex: 0 0 50%;
		max-width: 50%;

		.services__item-text p {
			max-width: 288px;
			width: 100%;
		}

		.services__item-img {
			max-width: 99px;

			&::before {
				content: "";
				position: absolute;
				background-image: url("../img/service-stars.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				left: -80px;
				top: -65px;
				width: 140px;
				height: 96px;
			}
		}
	}

	&:nth-child(2) {
		flex: 0 0 50%;
		max-width: 50%;

		.services__item-text p {
			max-width: 288px;
			width: 100%;
		}
	}
}

.services__item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 254px;
	justify-content: space-between;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	padding-left: 36px;
	padding-right: 36px;
	padding-bottom: 24px;
	padding-top: 35px;
}

.services__item__title-text {
	position: relative;
	z-index: 2;
}

.services__item-title {
	position: relative;
	font-family: 'Navigo', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	color: #091540;
	padding-bottom: 4px;
}

.services__item-price {
	position: relative;
	display: block;
	font-family: 'Navigo', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #7692FF;
	padding-bottom: 4px;
}

.services__item-text {
	
	p {
		font-size: 14px;
		line-height: 19px;
		color: #000;
		opacity: 0.75;
		font-weight: 300;
	}
}

.services__item-img {
	position: absolute;
	right: 0;
	bottom: 0;
	max-width: 173px;
	z-index: 1;
}

.services__benefits {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 50px #4EADFF26;
	padding-top: 36px;
	padding-left: 64px;
	padding-right: 64px;
	padding-bottom: 24px;
}

.services__benefits-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-right: -14px;
}

.services__benefits-item-wrap {
	flex: 0 0 20%;
	max-width: 20%;
	padding-left: 14px;
	padding-right: 14px;
}

.services__benefits-item {
	display: block;
	width: 100%;
	text-align: center;
}

.services__benefits-img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 74px;
	min-height: 40px;
	margin: 0 auto;
	margin-bottom: 27px;
}

.services__benefits-title {
	font-family: 'Navigo', sans-serif;
	display: inline-block;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	color: #091540;
}

.quality {
	padding-bottom: 80px;
}

.title-main {
	font-family: 'Navigo', sans-serif;
	font-size: 34px;
	line-height: 39px;
	color: #091540;
	font-weight: 700;
	text-align: center;
}

.quality .title-main {
	padding-bottom: 68px;
}

.quality__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}

.quality__item-wrap {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding-left: 12px;
	padding-right: 12px;

	&:nth-child(2) .quality__item-img {
		top: -50px;
	}

	&:nth-child(3) .quality__item-img {
		top: -41px;
	}
}

.quality__item {
	position: relative;
	display: block;
	width: 100%;
	// border: 1px solid #286EC9;
	border-radius: 15px;
	background-color: #fff;
	text-align: center;
	padding-bottom: 32px;
	height: 100%;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		border: 1px solid #286EC9;
		border-top: none;
		top: 0;
		border-radius: 15px;
		z-index: 2;
	}

	p {
		font-size: 16px;
		line-height: 21px;
		color: #000;
		opacity: 0.75;
		font-weight: 300;
	}
}

.quality__item-img {
	position: absolute;
	width: 100%;
	top: -36px;
	left: 0;
	z-index: 1;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.quality__item-texts {
	position: relative;
	padding-left: 22px;
	padding-right: 22px;
	z-index: 2;
	padding-top: 150px;
}

.quality__item-title {
	font-family: 'Navigo', sans-serif;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	color: #102E4A;
	min-height: 50px;
	margin-bottom: 23px;
}

.review {
	padding-bottom: 80px;
	overflow: hidden;

	.title-main {
		padding-bottom: 40px;
	}

	.container {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 170px;
			left: -35px;
			background-image: url("../img/review-m-1.svg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 239px;
			height: 254px;
			z-index: -1;
		}

		&::after {
			content: "";
			position: absolute;
			top: 40px;
			right: -85px;
			background-image: url("../img/review-m-2.svg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 297px;
			height: 315px;
			z-index: -1;
		}
	}
}

.review__content {
	position: relative;
	max-width: 694px;
	width: 100%;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	padding-top: 38px;
	padding-bottom: 38px;
	margin: 0 auto;

	&::before {
		content: "";
		position: absolute;
		border: 34px solid transparent; 
		border-top: 26px solid #fff;
		bottom: -59px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.review__item-about {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 28px;
}

.review__item-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 30px;
}

.review__item {
	position: relative;
	max-width: 440px;
	width: 100%;
	margin: 0 auto;
	z-index: 2;

	p {
		font-size: 16px;
		line-height: 21px;
		color: #000;
		font-weight: 300;
		opacity: .75;
	}
}

.review__slide-name {
	font-family: 'Navigo', sans-serif;
	display: inline-block;
	font-size: 18px;
	line-height: 29px;
	color: #091540;
	font-weight: 500;
}

.review__slide-link {
	font-family: 'Navigo', sans-serif;
	display: inline-block;
	color: #102E4A;
	font-size: 12px;
	opacity: .5;
}

.review__item-btn {
	max-width: 48px;
}

.review__btns-wrap {
	position: absolute;
	display: flex;
	justify-content: space-between;
	max-width: 615px;
	width: 100%;
	left: 50%;
	z-index: 1;
	top: 50%;
	transform: translate(-50%, -50%);
}

.review__slider-btn {
	position: relative;
	background-color: transparent;
	transition: all .3s;

	&:hover {
		opacity: 0.8;
	}
}

.review-slider {
	padding-bottom: 31px;
}

.review__btn-wrap {
	text-align: center;
}

.review__btn-submit {
	display: inline-block;
	font-family: 'Navigo', sans-serif;
	position: relative;
	font-size: 14px;
	background-color: transparent;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	color: #286EC9;
	transition: all .3s;

	&:hover {
		color: #7692FF;
	}

	&::before {
		content: "";
		position: absolute;
		top: 15px;
		left: -22px;
		background-image: url("../img/sbm-1.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 14px;
		height: 14px;
		pointer-events: none;
	}

	&::after {
		content: "";
		position: absolute;
		top: -15px;
		right: -41px;
		background-image: url("../img/sbm-2.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 33px;
		height: 33px;
		pointer-events: none;
	}
}

.question {
	position: relative;
	z-index: 3;
	padding-bottom: 81px;
	padding-top: 25px;
	overflow: hidden;

	.title-main {
		padding-bottom: 40px;
	}

	.form-main {
		max-width: 498px;
		width: 100%;
		box-shadow: none;
		padding: 0;
		background-color: transparent;
	}

	.form-main__checkbox {
		padding-bottom: 20px;
		padding-top: 5px;
	}

	.form-main__label::before {
		top: -4px;
	}

	.form-main__checkbox input[type=checkbox]:checked ~ .form-main__label::after {
		top: -4px;
	}

	.form-main__note {
		padding-bottom: 0;
		padding-bottom: 2px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.form-main__btn {
		margin-bottom: 16px;
	}

	.form-main__field input::placeholder {
		text-align: center;
	}
}

.question__start {
	position: relative;
	padding-left: 87px;
	padding-top: 32px;
	padding-bottom: 24px;
	background-color: #fff;
	border: 1px solid #286EC9;
	border-radius: 15px;
	margin-bottom: 80px;
}

.question__start-content {
	max-width: 498px;
	width: 100%;

	.title-main {
		padding-bottom: 24px;
		text-align: left;
	}

	p {
		font-size: 16px;
		line-height: 21px;
		color: #000;
		opacity: 0.75;
		font-weight: 300;
		padding-bottom: 19px;
	}
}

.question__start__img {
	position: absolute;
	right: -56px;
    top: -64px;
    width: 621px;
    pointer-events: none;
}

.btn-main {
	font-family: 'Navigo-2', sans-serif;
	display: inline-block;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.35px;
	text-transform: uppercase;
	font-weight: 500;
	border: 1px solid #286EC9;
	border-radius: 15px;
	padding-top: 2px;
	line-height: 36px;
	color: #286EC9;
	transition: all .3s;

	&:hover {
		background-color: #F2F9FF;
	}
}

.question__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.question__specialist {
	max-width: 498px;
	width: 100%;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	text-align: center;
	padding: 31px 46px;
	margin-right: 24px;

	p {
		font-size: 16px;
		line-height: 21px;
		font-weight: 300;
		color: #000000;
		opacity: 0.75;
	}
}

.question__specialist-img {
	max-width: 84px;
	margin: 0 auto;
	margin-bottom: 16px;
}

.question__specialist-title {
	font-family: 'Navigo', sans-serif;
	display: inline-block;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	color: #091540;
	opacity: 0.75;
	padding-bottom: 16px;
}

.form-main__label a {
	display: inline-block;
	color: #000;
	line-height: 12px;
	border-bottom: 1px solid #000;
	transition: all .3s;

	&:hover {
		border-bottom: 1px solid transparent;
	}
}

.news {
	padding-bottom: 79px;

	.title-main {
		padding-bottom: 40px;
	}
}

.news__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	padding-bottom: 40px;
}

.news__item-wrap {
	flex: 0 0 25%;
	max-width: 25%;
	padding-left: 12px;
	padding-right: 12px;
}

.news__item {
	display: block;
	width: 100%;
	text-align: center;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 50px #4EADFF26;
	padding-bottom: 24px;
}

.news__item-img {
	height: 141px;
	overflow: hidden;
	margin-bottom: 23px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.news__item-content {
	padding-left: 18px;
	padding-right: 18px;
}

.news__item-date {
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	color: #000000;
	opacity: 0.5;
	padding-bottom: 10px;
}

.news__item-title {
	font-family: 'Navigo', sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	color: #091540;
	margin-bottom: 16px;
	min-height: 42px;
}

.news__item-link {
	display: inline-block;
	font-family: 'Navigo', sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.35px;
	color: #286EC9;
	text-transform: uppercase;
	transition: all .3s;

	&:hover {
		color: #7692FF;
	}
}

.btn-main__wrap {
	text-align: center;
}

.partners {
	padding-bottom: 65px;
}

.partners__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.partners__title {
	font-family: 'Navigo', sans-serif;
	font-size: 14px;
	letter-spacing: 0.7px;
	font-weight: 500;
	color: #102E4A;
	opacity: 0.75;
	margin-top: -15px;
}

.partners__slider {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 760px;
	width: 100%;
	
}

.partners__slide-wrap {

	&:nth-child(5n) .partners__slider-item {
		margin-right: 0;
	}
}

.partners__slider-item {
	margin-right: 65px;

	img {
		max-width: 135px;
	}
}

.partners__slide-wrap {
	margin-bottom: 15px;
}

.footer {
	position: relative;
	background-color: #F2F9FF;
	padding-top: 30px;
	padding-bottom: 25px;
}

.footer__top-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 19px;
	border-bottom: 1px solid #d8d8d8;
}

.footer__menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 672px;
	width: 100%;
}

.footer__menu-wrap {
	max-width: 324px;
	width: 100%;
}

.footer__menu-list {
	max-width: 150px;
	width: 100%;

	li {
		
		padding-bottom: 10px;
	}

	a {
		display: inline-block;
		font-size: 14px;
		line-height: 14px;
		color: #000;
		opacity: 0.75;
		font-weight: 300;
		transition: all .3s;

		&:hover {
			opacity: 1;
		}
	}
}

.footer__menu-lists {
	display: flex;
	justify-content: space-between;
}

.footer__title {
	font-size: 20px;
	line-height: 21px;
	color: #000;
	font-weight: 500;
	padding-bottom: 24px;
}

.footer__subscribe {
	max-width: 324px;
	width: 100%;

	.btn-main {
		margin-bottom: 24px;
	}
}

.footer__social-list {
	display: flex;
	align-items: flex-start;
	padding-bottom: 24px;
}

.footer__social-item {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 16px;
	transition: all .3s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		opacity: 0.9;
	}
}

.footer__partner {
	display: flex;
	align-items: center;
}

.footer__partner-title {
	display: inline-block;
	font-family: 'Navigo', sans-serif;
	max-width: 105px;
	width: 100%;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
	letter-spacing: 0.7px;
	color: #102E4A;
	opacity: 0.75;
	margin-right: 24px;
}

.footer__bottom-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 27px;
}

.footer__about {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 560px;
	width: 100%;
}

.footer__general {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 310px;
	width: 100%;
}

.footer__technicall {
	max-width: 212px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__email {
	display: inline-block;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	margin-bottom: 10px;
}

.footer__tel {
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: #000;
	line-height: 17px;
	margin-bottom: 10px;
	padding-left: 20px;

	&::before {
		content: "";
		position: absolute;
		top: -1px;
		left: 0;
		background-image: url("../img/footer-tel.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 16px;
		height: 16px;
	}
}

.footer__questions-text {
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	color: #000;
	opacity: 0.75;
}

.footer__pays {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 412px;
	width: 100%;
}

.footer__pay-content {
	max-width: 300px;
	width: 100%;
}

.footer__pay-list {
	display: flex;
	align-items: center;
}

.footer__pay-item {
	max-width: 34px;
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__hosts {
	max-width: 63px;
	width: 100%;
}

.footer__host-item {
	display: block;
	margin-top: 8px;
}

.burger-content {
	display: none;
}

.header__mobile-info {
	display: none;
}

.header__mobile-question {
	display: none;
}

.header__btn-mobile {
	display: none;
}

.header__logo-mobile {
	display: none;
}

.services__mobile-title {
	display: none;
}

.slider-btn-blue {
	.slick-dots {
		padding-bottom: 0;
	}

	.slick-dots li {
		width: 8px;
		margin: 0 4px;
	}

	.slick-dots button {
		width: 8px;
		height: 8px;
		background-color: #458DEA;
		opacity: 0.25;
	}

	.slick-dots .slick-active button {
		opacity: 1;
	}
}

.slider-btn-gray {

	.slick-dots {
		padding-bottom: 0;
	}

	.slick-dots li {
		width: 8px;
		margin: 0 4px;
	}

	.slick-dots button {
		width: 8px;
		height: 8px;
		background-color: #D8D8D8;
		opacity: 0.5;
	}

	.slick-dots .slick-active button {
		opacity: 1;
	}
}

.intro__btn-consult {
	display: none;
}

.header__mobile-panel {
	display: none;
}

.form-main__btn br {
	display: none;
}

.breadcrumbs {
	position: relative;
	padding-bottom: 10px;
	z-index: 2;
}

.breadcrumbs__list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.breadcrumbs__item {
	position: relative;
	font-size: 14px;
	color: #091540;
	font-weight: 300;
	margin-right: 25px;
	transition: all .3s;
	margin-bottom: 6px;
	line-height: 16px;

	&:last-child {
		margin-right: 0;

		&::before {
			display: none;
		}

		&:hover {
			color: #091540;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		right: -20px;
		background-image: url("../img/breadcrumbs-chevron.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 10px;
		height: 10px;
		opacity: 0.55;
		pointer-events: none;
	}

	&:hover {
		color: #7d7d7d;

		&::before {
			opacity: 0.55;
		}
	}
}

.servers {
	padding-bottom: 35px;
}

.servers__list {
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
	padding-top: 16px;
}

.servers__item-wrap {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 24px;
}

.servers__item {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	min-height: 256px;
	padding-top: 32px;
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	height: 100%;
}

.servers__item-img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 104px;
	min-height: 104px;
	margin: 0 auto;
	z-index: 1;
	margin-bottom: 3px;

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	background-image: url("../img/cloud.svg");
	// 	background-size: contain;
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// 	width: 104px;
	// 	height: 104px;
	// 	z-index: -1;
	// 	top: -30px;
	// 	left: 0;
	// }

	img {
		margin: 0 auto;
	}
}

.servers__sub-title {
	font-family: 'Navigo', sans-serif;
	display: block;
	font-weight: 200;
	font-size: 20px;
	line-height: 29px;
	color: #091540;
	padding-bottom: 5px;
}

.servers__title {
	font-family: 'Navigo', sans-serif;
	display: block;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	color: #091540;
}

.servers__item-flag {
	position: absolute;
	top: 0;
	right: 24px;
	max-width: 48px;

	img {
		width: 48px;
	}
}

.servers__text-title {
	font-family: 'Navigo', sans-serif;
	display: block;
	font-size: 20px;
	line-height: 21px;
	font-weight: 400;
	padding-bottom: 21px;
	color: #102E4A;
}

.servers__text-content {
	padding-top: 8px;
	border-bottom: 2px solid rgba(118,146,255,0.17);
	padding-bottom: 39px;
}

.servers__text-content p {
	font-size: 16px;
	line-height: 21px;
	color: #000;
	font-weight: 300;
}

.mask {
	position: relative;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: -165px;
		left: 0;
		background-image: url("../img/mask-2.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 536px;
		z-index: -1;
		pointer-events: none;
	}
}

.fancybox-content {
	overflow: initial;
}

.popup {
	display: none;

	.fancybox-button {
		color: #858ba0;
		width: 35px;
		height: 35px;
		padding: 0;
		margin-top: 10px;
		margin-right: 5px;
		transition: all .3s;
	}

	.fancybox-button svg {
		width: 35px;
		height: 35px;
		
	}

	.fancybox-close-small:hover {
		opacity: 0.6;
	}
}

.popup-review {
	max-width: 496px;
	width: 100%;
	border-radius: 15px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 46px;
	padding-bottom: 13px;

	.form-main {
		padding: 0;
		border-radius: 0;
		box-shadow: none;
		max-width: none;
	}

	.form-main__field input {

		&::placeholder {
			text-align: center;
		}
	}
}

.form-main__field textarea {
	width: 100%;
	height: 136px;
	font-size: 15px;
	font-weight: 300;
	color: #000;
	resize: none;
	border-radius: 15px;
	background-color: #F2F9FF;
	outline: none;
	border: none;
	padding-top: 12px;
	padding-left: 31px;
	padding-right: 31px;
	padding-bottom: 5px;

	&::placeholder {
		opacity: 1;
		color: #000;
		text-align: center;
	}
}

.popup-review__title {
	display: block;
	font-family: 'Navigo', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #091540;
	font-weight: 700;
	padding-bottom: 25px;
}

.popup-review__radio-list {
	display: flex;
	align-items: center;
}

.popup-review__radio-field {
	margin-right: 16px;
}

.popup-review__label {
	display: block;
	max-width: 48px;
	opacity: 0.5;
	transition: all .3s;
}

.popup-review__radio-field input[type=radio]:checked ~ .popup-review__label {
	opacity: 1;
}

.popup-review__text {
	display: inline-block;
	font-size: 16px;
	color: #000;
	font-weight: 300;
	margin-right: 16px;
}

.popup-review__radio {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 32px;
	padding-top: 3px;
}

.popup-call {
	max-width: 496px;
	width: 100%;
	border-radius: 15px;
	padding: 15px;
	text-align: center;
}

.popup-call__img {
	max-width: 40px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.popup-call__tel {
	display: block;
	font-family: 'Navigo', sans-serif;
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
	color: #091540;
	margin-bottom: 5px;
}

.popup-call__copy {
	display: block;
	background-color: transparent;
	font-size: 13px;
	font-family: 'Navigo', sans-serif;
	font-weight: 200;
	color: #458DEA;
	opacity: 1;
	margin: 0 auto;
	margin-bottom: 13px;
}

.popup__note {
	display: block;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	opacity: 0.75;
}

.popup-consultation {
	max-width: 496px;
	width: 100%;
	padding: 15px;
	border-radius: 15px;

	.form-main {
		padding: 0;
		border-radius: 0;
		box-shadow: none;
		max-width: none;
	}

	.form-main__field input {

		&::placeholder {
			text-align: center;
		}
	}

	.form-main__label {
		margin-bottom: 15px;
	}

	.form-main__btn {
		line-height: 15px;
		padding-top: 10px;
		padding-bottom: 8px;

		br {
			display: block;
		}
	}

	.form-main__note {
		padding-bottom: 2px;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.popup-consultation__img {
	max-width: 46px;
	margin: 0 auto;
	margin-bottom: 16px;
}

.servers-single {
	padding-top: 8px;
	padding-bottom: 53px;

	.btn-main {
		font-size: 13px;
		padding-top: 2px;
		line-height: 44px;
	}

	.btn-main--blue {
		line-height: 46px;
		padding-top: 2px;
	}
}

.servers-single__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.servers-single__img {
	max-width: 237px;
	margin-right: 40px;
	margin-left: 25px;
	margin-top: 30px;
}

.servers-single__info {
	max-width: 672px;
	width: 100%;

	.title-main {
		text-align: left;
		padding-bottom: 16px;
	}
}

.servers-single__info-btns {
	display: flex;
	align-items: flex-start;
	padding-bottom: 16px;

	.btn-main {
		margin-right: 16px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.btn-main--blue {
	background-color: #458DEA;
	border: none;
	color: #fff;
	line-height: 42px;
	padding-top: 6px;

	&:hover {
		background-color: #458DEA;
		box-shadow: 0px 9px 9px #5AA3FF33;
	}
}

.servers-single__services-list {
	max-width: 498px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	padding: 24px 32px;
	margin-bottom: 24px;

	li {
		position: relative;
		font-size: 14px;
		color: #102E4A;
		opacity: 0.75;
		padding-bottom: 15px;
		padding-left: 12px;

		&:last-child {
			padding-bottom: 0;
		}

		&::before {
			content: "•";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.servers-single__benefits {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.servers-single__benefits-item-wrap {
	max-width: 33.333%;
	width: 100%;
}

.servers-single__benefits-item {
	max-width: 237px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;

	p {
		font-size: 16px;
		line-height: 21px;
		color: #000000;
		opacity: 0.75;
	}
}

.servers-single__benefits-img {
	max-width: 27px;
	margin: 0 auto;
	margin-bottom: 16px;

	img {
		width: 27px;
	}
}


.title-sub {
	font-family: 'Navigo', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	color: #091540;
	text-align: center;
	opacity: 1;
}

.rate {

	.title-sub {
		padding-bottom: 37px;
	}
}

.rate__title {
	display: inline;
	position: relative;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	color: #186DDC;
	text-align: center;
	overflow: hidden;

	span {
		font-weight: 700;
	}

	&::before {
		content: "";
		position: absolute;
		top: -12px;
		left: -50px;
		background-image: url("../img/title-stars.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 32px;
		height: 32px;
	}

	&::after {
		content: "";
		position: absolute;
		top: -12px;
		right: -50px;
		background-image: url("../img/title-stars.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 32px;
		height: 32px;
	}
}

.rate__title-wrap {
	text-align: center;
	padding-bottom: 40px;
}

.rate__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}

.rate__item-wrap {
	flex: 0 0 25%;
	max-width: 25%;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 48px;

	&:nth-child(2) .rate__item {
		background: transparent linear-gradient(180deg, #E2F8FF 0%, #FFFFFF 44%);
	}

	&:nth-child(3) .rate__item {
		background: transparent linear-gradient(180deg, #E2F5FF 0%, #FFFFFF 44%);
	}

	&:nth-child(4) .rate__item {
		background: transparent linear-gradient(180deg, #E2F3FF 0%, #FFFFFF 44%);
	}

	&:nth-child(5) .rate__item {
		background: transparent linear-gradient(180deg, #E2F1FF 0%, #FFFFFF 44%);
	}

	&:nth-child(6) .rate__item {
		background: transparent linear-gradient(180deg, #E2EEFF 0%, #FFFFFF 44%);
	}

	&:nth-child(7) .rate__item {
		background: transparent linear-gradient(180deg, #E2ECFF 0%, #FFFFFF 44%);
	}

	&:nth-child(8) .rate__item {
		background: transparent linear-gradient(180deg, #E2E9FF 0%, #FFFFFF 44%);
	}
}

.rate__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	background: transparent linear-gradient(180deg, #E2FAFF 0%, #FFFFFF 44%);
	padding-top: 16px;
}

.rate__item-header {
	position: relative;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.rate__item-title {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1.56px;
	color: #102E4A;
	text-transform: uppercase;
	text-align: center;
}

.rate__item-imgs {
	position: absolute;
	top: -1px;
	right: 16px;
	display: flex;
	align-items: flex-start;
}

.rate__item-img {
	max-width: 16px;
	margin-right: 4px;

	&:last-child {
		margin-right: 0;
	}
}

.rate__price-content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.rate__price {
	font-family: 'Navigo', sans-serif;
	display: block;
	font-size: 34px;
	color: #458DEA;
	margin-right: 8px;
	margin-bottom: -4px;
}

.rate__price-rub {
	font-family: 'Navigo', sans-serif;
	display: block;
	font-size: 14px;
	color: #458DEA;
	padding-bottom: 2px;
}

.rate__price-month {
	font-family: 'Navigo', sans-serif;
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 15px;
	color: #458DEA;
	opacity: 0.5;
	border-top: 1px solid rgba(118, 146, 255, 0.1);
	transition: all .3s;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/chevron-rate-2.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 13px;
		height: 8px;
		right: -18px;
		top: 4px;
		transition: all .3s;
		transform: rotate(180deg);
		opacity: 0.35;
	}

	&.show {

		color: #091540;

		&::before {
			opacity: 1;
			transform: rotate(0deg);
			background-image: url("../img/chevron-rate-2.svg");
		}
	}
}

.rate__info-row {
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid rgba(118, 146, 255, 0.07);
	padding-bottom: 12px;
	padding-top: 12px;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
	}
}

.rate__info-content {
	padding-left: 16px;
	padding-right: 16px;
}

.rate__info-title {
	display: block;
	width: 48%;
	font-size: 14px;
	color: #000;
	font-weight: 300;
	padding-left: 3px;
}

.rate__info-text {
	display: block;
	width: 48%;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #091540;
	opacity: 0.75;
}

.rate__info-service-col {
	width: 50%;
}

.rate__info-service-item {
	display: block;
	position: relative;
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
	color: #1F569E;
	text-indent: 15px;
	padding-bottom: 14px;

	&:last-child {
		padding-bottom: 0;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0px;
		top: 5px;
		width: 9px;
		height: 8px;
		background-image: url("../img/check.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.rate__order {
	position: relative;
	text-align: center;
	bottom: -24px;
	margin-top: -17px;
	padding-left: 16px;
	padding-right: 16px;
}

.rate__price-all {
	position: absolute;
	left: 0;
	top: 52px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	padding: 16px 8px;
	z-index: 2;
	max-width: 224px;
	width: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	pointer-events: none;
	transition: all .3s;

	&::before {
		content: "";
		position: absolute;
		top: -16px;
		right: 33px;
		border: 8px solid transparent; 
		border-bottom: 8px solid #fff;
	}

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.rate__price-container {
	display: flex;
	cursor: pointer;
}

.rate__price-all-row {
	display: flex;
	align-items: center;
	padding-bottom: 16px;

	&:last-child {
		padding-bottom: 0;
	}
}

.rate__price-all-year {
	font-family: 'Navigo', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #7692FF;
	max-width: 48px;
	width: 100%;
	margin-right: 8px;
}

.rate__price-all-prices {
	max-width: 88px;
	width: 100%;
	margin-right: 8px;
}

.rate__price-sum {
	display: block;
	font-size: 14px;
	color: #244783;
	line-height: 16px;
}

.rate__price-all-month {
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #99C3F4;
	line-height: 14px;
}

.rate__price-all-sales {
	display: block;
	font-size: 600px;
	font-size: 14px;
	color: #ABD2FA;
	max-width: 48px;
	width: 100%;
	text-align: center;
	padding-top: 2px;
	line-height: 30px;
	background: #F2F9FF;
	border-radius: 16px;
}


.servers-single__opportunities-text {
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
	color: #091540;
	width: 100%;
	max-width: 237px;
	margin-right: 24px;

	&:nth-child(2) {
		max-width: 498px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.servers-single__opportunities-row {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid #d5e1ff;
	padding-bottom: 16px;
	padding-top: 16px;

	&:first-child {
		border-bottom: none;
		padding-top: 0;
		padding-bottom: 6px;
	}

	&:first-child .servers-single__opportunities-text {
		display: block;
		font-family: 'Navigo', sans-serif;
		font-size: 20px;
		line-height: 25px;
		color: #337AB7;
		width: 100%;
		max-width: 237px;
		margin-right: 24px;
		font-weight: 400;

		&:nth-child(2) {
			max-width: 498px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&:last-child {
		border-bottom: none;
	}
}

.servers-single__opportunities {
	background-color: #F6FCFF;
	padding-top: 44px;
	margin-top: 60px;
	margin-bottom: 84px;

	.title-sub {
		padding-bottom: 32px;
	}
}

.servers-single__benefits-main {
	padding-bottom: 63px;

	.title-sub {
		padding-bottom: 40px;
	}
}

.servers-single__benefits-main-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}

.servers-single__benefits-main-wrap {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 24px;
}

.servers-single__benefits-main-item {
	display: block;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #286EC9;
	border-radius: 15px;
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 32px;
	padding-bottom: 31px;
	height: 100%;

	p {
		font-size: 16px;
		line-height: 21px;
		font-weight: 300;
		color: #000000;
		opacity: 0.75;
	}
}

.servers-single__benefits-main-img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 70px;
	margin: 0 auto;
	margin-bottom: 25px;
	min-height: 55px;

	img {
		margin: 0 auto;
	}
}

.servers-single__benefits-main-title {
	font-family: 'Navigo', sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: #102E4A;
	font-weight: 400;
	padding-bottom: 14px;
}

.servers-single__configuration-content {
	display: flex;
	align-items: flex-start;
	max-width: 672px;
	width: 100%;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-bottom: 80px;
}

.servers-single__configuration-list {
	max-width: 302px;
	width: 100%;
	margin-right: 12px;

	&:last-child {
		margin-right: 0;
	}

	li {
		position: relative;
		font-size: 14px;
		line-height: 19px;
		color: #102E4A;
		opacity: 0.75;
		text-indent: 10px;
		padding-left: 10px;
		padding-bottom: 17px;

		&:last-child {
			padding-bottom: 0;
		}

		&::before {
			content: "•";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.servers-single__configuration {

	.title-sub {
		padding-bottom: 38px;
	}
}

.servers-single__configuration-text {
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
	color: #000000;
	opacity: 0.75;
}

.servers-single__configuration {
	position: relative;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		left: 0px;
		top: 7px;
		width: 237px;
		height: 232px;
		background-image: url("../img/conf-1.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		pointer-events: none;
		z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 143px;
		width: 189px;
		height: 188px;
		background-image: url("../img/conf-2.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		pointer-events: none;
		z-index: -1;
	}
}

.rate__counter {
	display: none;
	display: block;
	font-size: 12px;
	color: #000000;
	opacity: 0.5;
	padding-bottom: 8px;
}

.cms-service {
	padding-bottom: 35px;
}

.cms-service__list {
	display: flex;
	max-width: 672px;
	width: 100%;
	margin-right: 24px;
}

.cms-service__item {
	position: relative;
	display: block;
	width: calc(50% - 12px);
	background: #FFFFFF;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	text-align: center;
	padding-left: 24px;
	padding-bottom: 27px;
	padding-right: 24px;
	padding-top: 43px;
	margin-right: 24px;

	&:last-child {
		margin-right: 0;
	}
}

.cms-service__item-img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 81px;
	min-height: 82px;
	margin: 0 auto;
	margin-bottom: 11px;
}

.cms-service__title {
	font-family: 'Navigo', sans-serif;
	display: block;
	font-weight: 200;
	font-size: 20px;
	line-height: 29px;
	color: #091540;
	padding-bottom: 5px;
}

.cms-service__text {
	display: block;
	font-family: 'Navigo', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	color: #091540;
}

.cms-service__content {
	display: flex;
	align-items: center;
	padding-bottom: 40px;
	border-bottom: 1px solid #bdd1ff;
}

.cms-service__info-text {
	max-width: 324px;
	width: 100%;
	font-size: 16px;
	line-height: 25px;
	color: #000;
	font-weight: 300;
}

.cms-service--bigger {

	.cms-service__item-img {
		max-width: 100px;
	}
}

.service-main {
	padding-bottom: 35px;
}

.service-main__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}

.service-main__content {
	padding-bottom: 34px;
	border-bottom: 1px solid #bdd1ff;
}

.service-main__item-wrap {
	flex: 0 0 50%;
	max-width: 50%;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 16px;
}

.service-main__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	padding-left: 34px;
	padding-right: 30px;
	padding-top: 24px;
	padding-bottom: 24px;
	height: 100%;

	p {
		font-size: 14px;
		line-height: 19px;
		color: #000;
		opacity: 0.75;
		font-weight: 300;
	}
}

.service-main__item-header {
	display: flex;
	align-items: center;
	padding-bottom: 69px;
}

.service-main__item-img {
	max-width: 64px;
	min-width: 64px;
	margin-right: 24px;

	img {
		margin: 0 auto;
	}
}

.service-main__item-title {
	display: block;
	font-family: 'Navigo', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	color: #091540;
	margin-bottom: -12px;
}

.service-single {

	.title-main {
		padding-bottom: 47px;
	}

	.servers-single__services-list {
		margin-bottom: 69px;
	}

	&.mask::before {
		top: -200px;
	}

	.servers-single__benefits {
		padding-bottom: 20px;
	}
}

.service-single__row-header {
	display: flex;
	align-items: center;
}

.service-single__row {

	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #e5eeff;

	&:first-child .service-single__text {
		display: block;
		font-family: 'Navigo', sans-serif;
		font-size: 16px;
		color: #337AB7;
		opacity: 1;
		font-weight: 400;
		max-width: 120px;
		width: 100%;
		margin-right: 20px;

		&:first-child {
			max-width: 270px;
			width: 100%;
		}

		&:last-child {
			margin-right: 15px;
		}
	}

	&:first-child {
		border-bottom: none;
		padding-top: 0;
		padding-bottom: 4px;
	}

	&:last-child {
		border-bottom: none;
	}
}

.service-single__price-mob {
	display: none;
	font-size: 16px;
	font-weight: 500;
	color: #091540;
}

.service-single__row-chooose-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service-single__text {
	font-size: 16px;
	font-weight: 300;
	color: #091540;
	transition: all .3s;
	max-width: 120px;

	&.active {
		font-weight: 900;
	}

	&:first-child {
		max-width: 270px;
		width: 100%;
		margin-right: 20px;
	}
}

.service-single__text-validate-type {
	max-width: 120px;
	width: 100%;
	margin-right: 20px;
}

.service-single__text-defense {
	max-width: 120px;
	width: 100%;
	margin-right: 20px;
}

.service-single__text-time {
	max-width: 120px;
	width: 100%;
	margin-right: 20px;
}

.service-single__text-price-desktop {
	max-width: 120px;
	width: 100%;
	margin-right: 15px;
}

.service-single__more-btn {
	font-family: 'Navigo', sans-serif;
	position: relative;
	display: block;
	max-width: 88px;
	width: 100%;
	background-color: transparent;
	font-size: 12px;
	letter-spacing: 0.3px;
	color: #091540;
	padding-right: 20px;
	margin-right: 24px;
	line-height: 16px;
	transition: all .3s;

	&:hover {
		opacity: 0.7;
	}

	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 4px;
		width: 13px;
		height: 8px;
		background-image: url('../img/menu-chevron.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transform: rotate(180deg);
		transition: all .3s;
	}

	&.active {
		
		&::before {
			transform: rotate(0deg);
		}

	}
}

.service-single__table-content {
	padding-top: 50px;
	background-color: #F6FCFF;
	padding-bottom: 8px;

	.title-sub {
		padding-bottom: 37px;
	}
}

.service-single__choose {
	display: block;
	font-family: 'Navigo', sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.33px;
	color: #458DEA;
	text-transform: uppercase;
}

.service-single__tab-wrap {
	display: none;
}

.service-single__tab {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 25px;
}

.service-single__tab-features {
	max-width: 553px;
	width: 100%;
	margin-right: 30px;

	p {
		font-size: 14px;
		line-height: 19px;
		font-weight: 300;
		color: #091540;
		opacity: 0.75;
		padding-bottom: 16px;

		&:last-of-type {
			padding-bottom: 0;
		}
	}
}

.service-single__tab-title {
	font-family: 'Navigo', sans-serif;
	display: block;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	color: #091540;
	opacity: 0.75;
	padding-bottom: 16px;
}

.service-single__opportunities {
	max-width: 374px;
	width: 100%;
}

.service-single__tab-list {
	width: 100%;

	li {
		position: relative;
		font-size: 14px;
		font-weight: 300;
		color: #091540;
		opacity: 0.75;
		padding-bottom: 8px;
		padding-left: 12px;

		&::before {
			content: "•";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.service-single__text-mob {
	font-size: 14px;
	font-weight: 300;
	color: #000000;
	opacity: 0.5;
}

.service-single__text-mob {
	display: none;
}

.service-single__row-chooose-price {
	display: none;
}

.about-main {
	padding-bottom: 28px;

	.container {
		max-width: 876px;
	}
}

.about-main__text {
	padding-bottom: 46px;

	p {
		font-size: 16px;
		line-height: 21px;
		color: #000000;
		opacity: 0.75;
		padding-bottom: 20px;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.about-main__requisites-header {
	position: relative;
	display: flex;
	align-items: baseline;
	padding-bottom: 30px;
}

.about-main__requisites-title {
	font-family: 'Navigo', sans-serif;
	font-size: 24px;
	line-height: 29px;
	color: #091540;
	text-align: center;
	width: 100%;
}

.about-main__requisites-copy {
	position: absolute;
	bottom: 4px;
	right: 0;
	display: inline-block;
	font-family: 'Navigo', sans-serif;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.33px;
	color: #458DEA;
	background-color: transparent;
	transition: all .3s;


	&:hover {
		color: #7692FF;
	}
}

.about-main__requisites-item {
	display: flex;
	align-items: center;
}

.about-main__requisites-item-title {
	display: inline-block;
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
	color: #000000;
	opacity: 0.75;
	min-width: 237px;
	text-align: right;
	margin-right: 24px;
}

.about-main__requisites-item-text {
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	opacity: 0.75;
	min-width: 237px;
}

.data-center__main-img {
	max-width: 699px;
	margin: 0 auto;
	margin-bottom: 31px;
}

.data-center__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -12px;
	margin-right: -12px;
	padding-bottom: 24px;
}

.data-center__item-wrap {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 24px;
}

.data-center__item {
	display: block;
	width: 100%;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 50px #4EADFF26;
	padding: 32px;

	p {
		font-size: 14px;
		line-height: 19px;
		color: #102E4A;
		opacity: 0.75;
	}
}

.data-center__item-header {
	display: flex;
	align-items: center;
	padding-bottom: 19px;
}

.data-center__item-img {
	max-width: 49px;
	margin-right: 22px;
}

.data-center__item-title {
	font-family: 'Navigo', sans-serif;
	max-width: 190px;
	width: 100%;
	display: inline-block;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	color: #102E4A;
}

.data-center__benefits-list {

	li {
		position: relative;
		font-size: 14px;
		line-height: 19px;
		color: #102E4A;
		opacity: 0.75;
		text-indent: 12px;
		padding-left: 12px;
		padding-bottom: 18px;

		&:last-child {
			padding-bottom: 0;
		}

		&::before {
			content: "•";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.gallery__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	padding-bottom: 16px;
}

.gallery__item-wrap {
	flex: 0 0 25%;
	max-width: 25%;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 24px;
}

.gallery__item {
	display: flex;
	width: 100%;
	height: 143px;
	border-radius: 15px;
}

.gallery__item-img {
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	height: 143px;

	&:hover .gallery__item-description {
		opacity: 1;
	}

	img {
		border-radius: 15px;
	}
}

.gallery__item-description-wrap {
	position: absolute;
	left: 50%;
	bottom: 10px;
	width: 100%;
	transform: translate(-49.8%, 0);
	text-align: center;
}

.gallery__item-description {
	display: inline-block;
	max-width: 225px;
	width: 100%;
	font-size: 14px;
	color: #000;
	font-weight: 300;
	background-color: #fff;
	padding-left: 13px;
	padding-right: 13px;
	border-radius: 10px;
	padding-top: 8px;
	padding-bottom: 6px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s;
}

.fancybox-button--thumbs {
	display: none !important;
}

.fancybox-button--play {
	display: none !important;
}

.fancybox-button--zoom {
	display: none !important;
}

.gallery {

	.title-sub {
		padding-bottom: 35px;
	}
}

.gallery__btn {
	text-align: center;
}

.data-center {
	padding-bottom: 66px;
}

.contacts__subtitle {
	font-size: 16px;
	line-height: 21px;
	color: #000;
	text-align: center;
	max-width: 650px;
	width: 100%;
	margin: 0 auto;
	font-weight: 300;
}

.contacts {
	padding-bottom: 67px;

	.title-main {
		padding-bottom: 14px;
	}
}

.contacts__content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 5px;
	
}

.contacts__info {
	max-width: 498px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	padding: 56px 27px;
	margin-right: 24px;
}

.contacts__info-header {
	display: flex;
	align-items: center;
	padding-bottom: 19px;
}

.contacts__info-img {
	max-width: 40px;
	min-width: 40px;
	width: 100%;
	margin-right: 23px;
}

.contacts__info-title {
	display: inline-block;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #000;
}

.contacts__info-item {
	padding-bottom: 28px;

	&:last-child {
		padding-bottom: 0;
		
		.contacts__info-header {
			align-items: flex-start;
			padding-bottom: 0;
		}

	}

	&:nth-child(3) {
		padding-bottom: 13px;
	}

	p {
		font-size: 16px;
		line-height: 21px;
		color: #000000;
		font-weight: 300;
		padding-left: 63px;
	}
}

.contacts__info-item--tel {

	.contacts__info-header {
		padding-bottom: 5px;
	}
}

.contacts__info-list {

	li {
		font-size: 16px;
		line-height: 21px;
		color: #000000;
		font-weight: 300;
		padding-bottom: 22px;

		&:last-child {
			padding-bottom: 0;
		}

		span {
			opacity: 0.6;
		}
	}
}

.contacts__map-content {
	max-width: 498px;
	width: 100%;

	.gallery__item-wrap {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.contacts__map {
	height: 498px;
	margin-bottom: 24px;
}

#map-1 {
	height: 498px;
	border-radius: 15px;
	overflow: hidden;
}

.ymaps-2-1-74-controls__control {
	display: none !important;
}

.ymaps-2-1-74-controls__toolbar_left {
	display: none !important;
}

.ymaps-2-1-74-controls__toolbar_right {
	display: none !important;
}

.ymaps-2-1-74-map-copyrights-promo {
	display: none !important;
}

.ymaps-2-1-74-copyright {
	display: none !important;
}

.contacts__ways__list {
	display: flex;
	padding-top: 34px;
}

.contacts__ways-item {
	width: calc(50% - 12px);
	margin-right: 24px;
	background-color: #fff;
	border: 1px solid #286EC9;
	border-radius: 15px;
	text-align: center;
	padding: 32px 24px;

	&:nth-child(even) {
		margin-right: 0;
	}

	p {
		font-size: 16px;
		line-height: 21px;
		font-weight: 300;
		color: #000;
		opacity: 0.75;
	}
}

.contacts__ways-item-img {
	max-width: 74px;
	margin: 0 auto;
	min-height: 55px;
	margin-bottom: 24px;

	img {
		margin: 0 auto;
	}
}

.contacts__ways-item-title {
	font-family: 'Navigo', sans-serif;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	color: #102E4A;
	padding-bottom: 12px;
}

.contacts__main-img {
	margin-bottom: 55px;
}

.contacts__info-btn-more {
	display: none;
	font-family: 'Navigo', sans-serif;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
	color: #091540;
	background-color: transparent;
	padding-right: 17px;

	&:before {
		content: "";
		position: absolute;
		right: 0;
		top: 4px;
		width: 13px;
		height: 8px;
		background-image: url('../img/menu-chevron.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transform: rotate(180deg);
		transition: all .3s;
		opacity: 0.5;
	}
}

.about-main__main-img {
	max-width: 554px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 33px;
}

.terms {
	padding-bottom: 80px;
}

.terms__content {
	padding-top: 36px;

	p {
		font-size: 16px;
		line-height: 21px;
		color: #000;
		opacity: 0.75;
		padding-bottom: 20px;
	}
}

.terms__title {
	font-family: 'Navigo', sans-serif;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	color: #102E4A;
	padding-bottom: 24px;
	padding-top: 23px;
}

.terms__list {

	li {
		position: relative;
		font-size: 16px;
		line-height: 21px;
		color: #000;
		opacity: 0.75;
		text-indent: 13px;
		padding-left: 13px;
		padding-bottom: 20px;
		margin-left: -13px;

		&::before {
			content: "•";
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.terms__description {
	background-color: #fff;
	box-shadow: 0px 0px 50px #4EADFF26;
	border-radius: 15px;
	padding: 48px 86px;
	margin-top: 25px;
	margin-bottom: 24px;

	p {
		opacity: 1;
		padding-bottom: 0;
	}
}

.terms__description-title {
	font-family: 'Navigo', sans-serif;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	color: #7692FF;
	padding-bottom: 20px;
}

@import "media-desktop"; 
@import "media-mobile"; 